/* styles.css for nicholasgallina.github.io */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 0px 120px;
}

hr {
  background-color: black;
  margin: 12px 0;
  
}

.bold {
  font-size: 20px;
  font-weight: bold;
}

.left-right {
  display: flex;
  justify-content: space-between;

}


.navbar {
  /* intentionally left blank */
}

.navbar-top {
  background-color: #d1d6dc; 
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  
}

.navbar-top a {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1.75px black;
  font-weight: bold;
  font-family: arial;
  font-size: 20px;
  padding: 5px 10px;
  transition: color 0.3s;

}

.navbar-top li {
  list-style-type: none; 
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;

}

.navbar-middle {
  font-size: 45px;
  font-weight: bold;
  text-align: center;

}

.navbar-bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

}

/* hover */
.navbar-top a:hover {
  background-color: #b2b7bc;
}

.header-button {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 20px;
}

.navbar-bottom {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
}

.navbar-bottom-element {
  display: flex;
  font-size: 22px;
  gap: 5px;
}

.icon {
  width: 16px;
  height: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub-heading {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.university {
  font-size: 20px;
  font-weight: 700;
}

.education {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}

.date {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
}

.courses {
  font-size: 19px;
}

.skills {
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
  margin: 0px 20px;

  .projects {
    font-style: normal;
  }

  .work-experience {
    font-style: normal;
  }

.extracurricular {
  font-style: normal;
}

.details {
  padding: 0 10px;
}

.relevant-courses {
  font-style: normal;
  font-weight: 400;
}
