  body {

    background-color: white;
    font-family: "Times New Roman", Times, serif;

  }

  .header-buttons {

    display: flex;
    justify-content: center;

  }

  .header-button {

    display: flex;
    font-family:"Times New Roman", Times, serif;
    padding: 20px;
    font-size: 20px;

  }

  .false-header {

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;

  }


  .false-header-elements {

    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-family:"Times New Roman", Times, serif;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;

  }

  .false-header-element {

    display: flex;
    gap: 4px;

  }

  .icon {

    width: 16px;
    height: 16px;
    vertical-align: middle;

  }


  .sub-headings {

    font-family:"Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-decoration: underline;

  }

  .university {

    font-weight: 700;

  }

  .education-line {

    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-weight: 700;

  }

  .location {

    font-style: normal;

  }

  .details {

    flex-grow: 1;
    padding: 0 10px;

  }

  .date {

    font-style: italic;
    font-weight: normal;
    text-align: right;

  }

  .relevant-courses {

    font-style: normal;
    font-weight: 400:


  }



