  body {

      background-color: #F5F5F5;
      font-family: Arial, sans-serif;

  }

  .navbar {

    display: flex;

  }

 


  .nav-button {

    display: flex;
    padding: 20px;
    font-size: 20px;


  }





